

.container {
    width: 1200px;
    height: 500px;
    /* max-height: 300px; */
    overflow-y: scroll;

}

.btn.active {
    background-color: rgb(38, 141, 38);
}

#historyContainer {
    /* display: none; */
}