canvas {
    border: 1px solid black;
}

#top-menu{
    /* display: flex; */
    margin: 0 0 20px 0;
}


#main-toolbar {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: ; */
    align-content: space-between;
}
.push {
    /* margin-left: auto; */
    justify-self:flex-end;
}

#main-toolbar button {
    display: flex;
    margin: 0 5px 0 5px;
}





.container {
    width: 1200px;
    height: 500px;
    /* max-height: 300px; */
    overflow-y: scroll;
    /* position: fixed; */

}

button img {
    height: 100px;
    width: 100px;
}

.btn.active {
    background-color: rgb(31, 21, 180);
}

#historyContainer {
    /* display: none; */
}

.undoRedo {
    align-self: flex-end;
    font-size:30px;
}

.zoom {
    font-size:30px;
    /* height: 50px; */
    /* width: 100px; */
    align-self: flex-end;
}

#mailBtn {
    text-decoration: none;
    position: absolute;
    left: 1100px;
    top: 160px;
    height: 70px;
    width: 70px;
    z-index: 10;
    font-size:40px;
    text-align: center;
    
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 70px;


    color: white;
    background-color: rgba(132, 0, 255,0.9);
    border-radius: 50%;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0)
  }

  #fileLoader {
      /* display: none; */
  }

  #loadFileBtn {
    color: aliceblue;
    background-color: rgba(132, 0, 255,0.9);
    font-size:20px;
    height: 70px;
    width: 70px;
    cursor: pointer;
  }

